
body
{
	font: 16px 'Muli', 'DejaVu Sans', Helvetica, sans-serif;
	font-weight: 300;

	color: white;
	background: #444;
}

header
{
	margin: 30px 40px 0px;
	padding: 0px 0px;
}

#content
{
	color: black;
	background: #fff;

	line-height: 1.8em;
	padding: 15px 40px;
	margin: 30px 40px 0px;
}

#content pre
{
	background: #eee;
	padding: 10px 15px;
}

#content a, #content a:visited
{
	color: #08e;
	text-decoration: none;
}

#content a:hover
{
	text-decoration: underline;
}

footer
{
	font-size: 15px;

	color: black;
	display: block;
	background: #eee;
	margin: 0px 40px 30px;
	padding: 15px 40px;
	border-top: #ddd 1px solid;
	
	-webkit-column-count: 2;
    -webkit-column-rule: 0px;
	-moz-column-count: 2;
    -moz-column-rule: 0px;
}

footer ul
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	line-height: 1.7em;
	margin-top: 5px;
}

footer a, footer a:visited
{
	color: blue;
	text-decoration: none;
}

footer h2
{
	color: #777;
	font-size: 100%;
	margin: 0px;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px white;
}

h2
{
	font-size: 150%;
	margin: 10px 0px;
}

table.classes
{
	line-height: 1.4em;
	font-size: 15px;
	border-left: #eee 5px solid;
	padding-left: 5px;
}

table.classes .symbol
{
	font-family: monospace;
}

.resume
{
	font-size: 95%;
}

.resume h2
{
	font-size: 110%;
	margin-bottom: 5px;
	margin-top: 5px;
	border-bottom: #ddd 1px solid;
}

.resume h3
{
	font-weight: 500;
	font-size: 105%;
	margin: 0px;
}

.resume p
{
	margin: 5px 0px;
}

.resume dl dt.date
{
	float: right;
}

.resume dl dd
{
	color: #444;
	margin-bottom: 0.7em;
	margin-left: 0px;
}

.resume dl dd b, .resume dl dd strong, .resume dl dd em
{
	color: black;
}

.resume dl.experience em
{
	font-weight: 500;
	font-style: normal;
}

.resume dl.education
{
	font-size: 95%;
}

.resume .skills
{
	font-size: 90%;
}

.resume .skills table td
{
	width: 25%;
	vertical-align: top;
}

@media print {
	body {
		color: black;
		background: white;
	}
	
	header, footer {
		display: none;
	}
	
	#content
	{
		margin: 0px;
		padding: 0px;
	}
}
